.contact-developer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

.images{
    position: relative;
    z-index: 1;
    margin: auto;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.images img{
    display: block;
}

.images .upper{
    position: relative;
    z-index: 1000;
    width: 300px;
    height: 30vh;
    object-fit: contain;
    transform-origin: 0 100%;
    animation: move 2.5s ease forwards;
    filter: brightness(90%);
}
.images .lower{
    height: 60vh;
    filter: brightness(90%);
}

.links{
    position: relative;
    z-index: 5;
    padding: 1rem;
    border-radius: 20px;
    transform: translateY(-80vh);
    animation: emerge 3s ease forwards, bounce 3s ease forwards infinite;
    background-color:#DE4C4C ;
    color:white
}
.links a{
    display: block;
    text-align: center;
    background-color: #0B67C2;
    color:white;
    border-radius: 5px;
}
.links a:hover{
   transform: scale(1.02);
   color:white
}

@keyframes bounce{
    0% {
        transform: translateY(-80vh) rotate(3deg) scale(1);
    }
    50% {
        transform: translateY(-80vh) rotate(-3deg) scale(1.05);
    }
    100%{
        transform: translateY(-80vh) rotate(3deg) scale(1);
    }
}
@keyframes emerge {
    0% {
        opacity: 0;
        display: none;
    }
    50% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: none;
    }
  }

@keyframes move {
    0% {
        transform: rotateZ(-0deg);
        opacity: 1;
    }
    100% {
        transform: rotateZ(-100deg);
        opacity: 0;
        /* display: none; */
    }
  }